YuGiOh Randomizer/.vs/*
YuGiOh Randomizer/YuGiOhRandomizer/bin/*
YuGiOh Randomizer/YuGiOhRandomizer/obj/*
YuGiOh Save Deck Extractor/.vs/*
YuGiOh Save Deck Extractor/YuGiOh Save Deck Extractor/bin/*
YuGiOh Save Deck Extractor/YuGiOh Save Deck Extractor/obj/*